<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">

    <http pattern="/resources/**" security="none"/>
    <http pattern="/webjars/**" security="none"/>

    <http>
        <intercept-url pattern="favicon.ico" access="permitAll" />
        <intercept-url pattern="/card" access="permitAll"/>
        <intercept-url pattern="/login" access="permitAll"/>
        <intercept-url pattern="/**" access="isAuthenticated()" />
        <form-login login-page="/login" default-target-url="/card"
                    authentication-failure-url="/card?error=true"
                    login-processing-url="/spring_security_check"/>
        <logout logout-success-url="/login"/>
        <csrf disabled="true"/>
    </http>

    <beans:bean id="authenticationProvider"
                class="ru.simplewebapp.web.LimitLoginAuthenticationProvider">
        <beans:property name="userDetailsService" ref="accountDetailService" />

    </beans:bean>

    <authentication-manager>
        <authentication-provider ref="authenticationProvider"/>
    </authentication-manager>
</beans:beans>